<div class="my-container mx-auto border border-dark">
    <div class="row g-0">
        <div class="col-4 p-4">
            <div class="d-flex justify-content-between align-items-center">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/{{ImageIndex}}.jpg" alt="Product Image" class="w-100">
            </div>
            <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/1.jpg" alt="Thumbnail Image" (click)="ImageIndex = 1">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/2.jpg" alt="Thumbnail Image" (click)="ImageIndex = 2">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/3.jpg" alt="Thumbnail Image" (click)="ImageIndex = 3">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/4.jpg" alt="Thumbnail Image" (click)="ImageIndex = 4">
                <img src="../../assets/Images/{{product.subCategory}}/{{product.productId}}/5.jpg" alt="Thumbnail Image" (click)="ImageIndex = 5">
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2>{{product.title | titlecase}}</h2>
                </div>
                <div class="card-body">
                    <h1 class="card-title text-success"> {{utilityService.applyDiscount(product.price,product.discount) | currency : 'INR'}}<span class="text-primary"> -{{product.discount}}% </span> </h1>
                    <h4 class="card-subtitle text-danger text-decoration-line-through"> {{product.price | currency:'INR'}}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle my-2 text-primary"> {{product.quantity}} Products are available</h6>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-success" [disabled]="!utilityService.isLoggedIn()" (click)="utilityService.addToCart(product)">Add To Cart
                            <span *ngIf="!utilityService.isLoggedIn()" >(Login First)</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-text">Description</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" *ngFor="let item of product.description.split('. ')">
                            {{item}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 ps-5 pt-4 pb-3">
            <h3 class="border border-secondary text-center py-2 my-rounded-corner w-25">
                Related Products
            </h3>
        </div>
        <div class="col-12">
           
            <app-suggested-product [category1]="product"></app-suggested-product>
        </div>
    </div>
    <div class="row g-0 my-5">
        <div class="col p-3">
            <h3>Give Your Reviews</h3>
            <h5 class="mt-4">Write Your Review</h5>
            <textarea class="w-75 p-2" [formControl]="reviewControl"></textarea>
            <div class="d-flex align-items-start">
                <button type="button" class="btn btn-outline-secondary mt-4 me-5" (click)="submitReview()">Save Review</button>
                <div>
                    <h6 class="text-danger mt-4" *ngIf="!utilityService.isLoggedIn()">Login First, Then enter your review.</h6>
                    <h6 class="text-danger" *ngIf="showError">Review cannot be empty!</h6>
                    <h6 class="text-success" *ngIf="reviewSaved">Review Saved Successfully!</h6>
                </div>
            </div>
        </div>

        <div class="col p-3">
            <h3>Other Reviews</h3>
            <h6 *ngIf="otherReviews.length === 0">No Reviews Yet!</h6>
            <div class="card mt-3" *ngFor="let review of otherReviews">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-text">
                        {{review.firstName}}
                        {{review.lastName}}
                    </div>
                    <div class="card-text fst-italic">
                        Reviewd On: <span class="fw-bold">{{review.createdAt}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{review.review}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>